<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.brandlee.anonymous">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".sections.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".sections.setting.SettingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".sections.setting.ChangeLoginPhoneNumberActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".sections.setting.ChangeLoginPhoneNumberStepTwoActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".sections.setting.ChangeLoginPasswordActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".sections.setting.ChangeLoginPasswordStepTwoActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".sections.setting.ChangePayPasswordActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".sections.setting.ChangePayPasswordStepTwoActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".sections.order.OrderDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".sections.order.PayDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".sections.order.PayActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".sections.setting.AuthorizationActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".sections.about.CreditManagementActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".sections.about.PersonalInfoActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".sections.about.ShopInfoActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".sections.about.BankCardInfoActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".sections.about.BankCardInfoStepTwoActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".sections.about.IdentityVerifyActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".sections.about.ContactInfoActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".sections.login.LoginSplashActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".sections.login.LoginActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".sections.login.RegisterActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".sections.login.RegisterStepTwoActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".sections.login.FindLoginPasswordActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".sections.login.FindLoginPasswordStepTwoActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>